<div class="card">
    <div class="card-body">
        <h4 class="card-title">Primary Table</h4>
        <h6 class="card-subtitle">Add class <code>.btn-themecolor disabled</code></h6>
        <div class="mb-2 pull-right">
            <button class="btn btn-themecolor waves-effect waves-light" type="button">
                <span class="btn-label"><i class="fa fa-plus"></i></span>Add Organization
            </button>
        </div>

        <div class="table-responsive">
            <!-- <table class="table color-table primary-table"> -->
            <table class="table">
                <thead class="btn-themecolor">
                    <tr>
                        <th>#</th>
                        <th>Organization</th>
                        <th>email</th>
                        <th>url</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let organization of organizations ">
                        <td> {{ organization.id }} </td>
                        <td> {{ organization.name }} </td>
                        <td> {{ organization.email }} </td>
                        <td> {{ organization.url }} </td>
                        <button class="btn btn-info mt-1 mr-1" [routerLink]="[ '/organization', organization.id] ">
                            <i class="fa fa-pencil "></i>
                        </button>
                        <button class="btn btn-danger mt-1" (click)="deleteOrganization( organization, i ) ">
                            <i class="fa fa-trash "></i>
                        </button>



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>